rmongodb/Read-and-delete-me
rmongodb/src-i386
rmongodb/src-x64
ipch/
Debug/
rmongodb.Rcheck/
rmongodb.sln
rmongodb.vcxproj
rmongodb.vcxproj.filters
rmongodb.vcxproj.user
rmongodb.opensdf
rmongodb.sdf
rmongodb.suo
rmongodb_1.0.tar.gz
.Rproj.user
